* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Baloo Da 2", cursive;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}
@media (max-width: 1650px) {
  html {
    font-size: 57%;
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 30%;
  }
}
